/*About*/
.Profile h5,
.skill{
  font-family: 'Noto Sans JP', sans-serif;
  position: relative;
  /* left: 10%; */
  color: rgb(243, 248, 250);
  overflow: hidden;
}

/* 縦に画面が長いときのAbout画面 */
@media screen and (max-width: 479px){
  .Profile{
    position: absolute;
    font-size: 5vmin;
    font-weight: 600;
    top: 35vh;
    /* left: 50%; */
    z-index: 40;
    width: 65vw;
    text-align: left;
    /* text-shadow: 2px 2px 6px rgba(90, 101, 105, 0.756); */
    text-shadow: 1px 1px 1px rgba(90, 101, 105, 0.756);
    /* text-shadow: 0.5px 0 rgba(90, 101, 105, 0.756), -0.5px -0.5px 0 rgba(90, 101, 105, 0.756),
              -0.5px 0.5px 0 rgba(90, 101, 105, 0.756), 0.5px -0.5px 0 rgba(90, 101, 105, 0.756),
              0px 0.5px 0 rgba(90, 101, 105, 0.756),  0.5px -0.5px 0 rgba(90, 101, 105, 0.756),
              -0.5px 0 0 rgba(90, 101, 105, 0.756), 0.5px 0 0 rgba(90, 101, 105, 0.756); */
  }
  .Profile h5,
  .skill{
    margin-top: 10px;
    width: 60vw;
    font-size: 2.6vmin;
  }
  
  .skill{
    margin-top: 5vh;
    font-size: 3.5vmin;
  }
  
  .skill h5{
    /* position: relative; */
    color: rgb(243, 249, 250);
    text-align: left;
    margin-top: 5px;
    width: 50vw;
    font-size: 3.2vmin;
  }
}

@media screen and (min-width: 479px){
  .Profile{
    position: absolute;
    font-size: 4vmin;
    font-weight: 600;
    top: 15vh;
    left: 12%;
    z-index: 40;
    width: 51vw;
    text-align: left;
    text-shadow: 2px 2px 6px rgba(90, 101, 105, 0.756);
  }
  .Profile h5,
  .skill{
    margin-top: 35px;
    width: 40vw;
    font-size: 2.0vmin;
  }
  
  .skill{
    margin-top: 12vh;
    font-size: 2.5vmin;
  }
  
  .skill h5{
    /* position: relative; */
    color: rgb(243, 249, 250);
    text-align: left;
    margin-top: 5px;
    width: 40vw;
    font-size: 2.2vmin;
  }
}